button {
    margin-top: 20px;
    width: 100%;
}

section {
    padding-top: 20px;
}

select {
    font-size: 12px!important;
}

select > option:first-of-type {
    color: gray;
}

.pagination {
    margin-top: 20px;
}
